:root {
  --branding-color: #475f46;
  --accent-color: #343d33;
  --secondary-color: #424840;
  --tertiary-color: #414840;
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 84px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--accent-color);
}

footer {
  background: var(--accent-color);
}

footer a,
footer p {
  color: #fff;
}

footer a:hover {
  color: var(--branding-color);
}

footer .social-links a {
  padding: 0 20px;
  transition: all 100ms ease-in-out;
}

.navbar-brand {
  font-family: var(--default-font-family);
}

.active {
  color: var(--branding-color) !important;
}

.nav-item {
  padding: 0 10px;
  font-family: var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  padding: 250px 20px 160px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  color: var(--tertiary-color);
}

.content-container {
  padding: 160px 40px;
}

.content h1 {
  font-size: 64px;
  line-height: 1.25;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.about-page h3 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 300;
  color: var(--tertiary-color);
  margin: 0;
}

.profile-pic {
  padding: 0 0 0 70px;
}

.profile-photo {
  max-width: 100%;
  height: auto;
}

.work-page {
  padding: 160px 80px;
}

.work-page h1 {
  text-align: center;
}

.work-page h2 {
  font-family: var(--heading-font-family);
  font-size: 36px;
  color: var(--branding-color);
}

.work-connect-section {
  flex: 1;
  text-align: center;
  margin: 100px 0 0;
}

.contact-page {
  padding: 160px;
}

.contact-page a {
  color: var(--branding-color);
}

.contact-page a:hover {
  color: var(--accent-color);
}

.btn-branding {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid var(--branding-color);
  border-radius: 0;
  padding: 20px 40px;
  margin: 12px 10px;
}

.about-button {
  background: var(--branding-color);
  color: #fff;
}

.home-connect-button {
  background: #fff;
  color: var(--branding-color);
  padding: 20px 43px;
}

.learn-more-button {
  color: #fff;
  border: 1px solid white;
}

.work-button {
  background: var(--branding-color);
  color: #fff;
  padding: 20px 43px;
  margin: 10px 0;
}

.launch-button {
  background: #fff;
  color: var(--branding-color);
  padding: 20px 43px;
  margin: 10px 0;
}

.connect-button {
  background: var(--branding-color);
  color: #fff;
  padding: 20px 100px;
}

.projects {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 120px 40px 60px;
}

.projects h3 {
  font-size: 48px;
}

.project-images {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 36px;
  }

  footer p {
    font-size: 14px;
  }

  .projects {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 120px 40px 80px;
  }

  .content-page {
    padding: 160px 40px 100px;
  }

  .content h1 {
    font-size: 56px;
  }

  .profile-pic {
    padding: 40px 0;
  }
}
